package ${javaObjectInfo.packageName};

import junit.framework.TestCase;

public class ${javaObjectInfo.testClassName} extends TestCase {
    <% javaObjectInfo.publicTestMethods.each { %>
    public void ${it}() throws Exception {
        fail("Not implemented yet");
    }
    <% } %>
}
